*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
 background-image: url("images/materialdictionary206_24b.jpg");
 background-color: rgba(204, 255, 255, 0.315);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
body{
    font-family: "Quantico", sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #055e8e;
}
p{
    color: #031f49;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font: 50px;
    line-height: 40px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #041743;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.3s;
}
.btn:hover{
    background-color: #1285b3;
}
.header .row{
    margin-top: 70px;
}
svg path {
    fill: #1285b3; 
  }
  .categories{
    margin: 70px 0;
  }
  .col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.3s;
}
.col-4 img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.col-2 img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}
.title::after{
    content: '';
    background: #1285b3;
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.rating{
    color: #92ff57
}
.col-4:hover{
    transform: translateY(-5px);
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #041743;
}
.avis{
    padding-top: 100px;
}
.avis .col-3{
    text-align: center;
    padding: 40px 20px;
}
.col-3 p{
    margin: 12px 0;
}
.avis h4{
    color: #031f4994;
}
.footer{
    background-color: #041743;
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer p{
    color: aliceblue;
}
.footer ul{
    list-style-type: none;
    color: aliceblue; 
}
.footer h3{
    color: aliceblue;
    line-height: 60px;
}
.footer hr{
    border: none;
    background: aliceblue;
    height: 1px;
    margin: 10px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none !important;
}
span {
    color: #055e8e;
}
/*--------------PRODUITS----------------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #041743;
    padding: 5px;
}
select:focus{
    outline: none;
}
/*----------PRODUITS SEULS--------*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 10px;
}
.single-product input{
    width: 50px;
    height: 35px;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 10px;
    border: 1px solid #055e8e;
}
input:focus{
    outline: none;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 16%;
    cursor: pointer;
}
/*----------CONTACT--------*/
.contact{
    text-align: center;
    position:relative;
    max-width: 70%;
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.contact h3{
    padding-top: 100px;
}
.contact p{
    padding-top: 50px;
}
.contact .btn{
    margin: 10px;
    margin-bottom: 100px;
}
.contact h1{
    padding: 200px;
}
.centered{
    max-width: 60%;
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.centered hr{
    border: none;
    background: #041743;
    height: 1px;
    margin: 10px 0;
}
.centered h1{
    margin-top: 20px;
    margin-bottom: 10px;
}
.centered h2{
    margin-top: 20px;
    margin-bottom: 10px;
}
.centered p{
    margin-top: 10px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #031f49;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: aliceblue;
    }
    .menu-icon{
        display: block !important;
        cursor: pointer;
    }
}
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4, .footer-col-1, .footer-col-2, .footer-col-3{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .contact h1{
    padding: 50px;
}
}
